version: "3.8"

services:
  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    restart: unless-stopped
    ports:
      - "5540:5540"
      - "8001:8001"
    volumes:
      - redisinsight-data:/db
    depends_on:
      redis:
        condition: service_healthy

volumes:
  redisinsight-data:
