version: "3.8"

services:
    db:
        container_name: postgres-17-alpine
        image: postgres:17.0-alpine
        restart: unless-stopped
        environment:
            POSTGRES_DB: test-db
            POSTGRES_USER: root
            POSTGRES_PASSWORD: secret
            PGDATA: /data/postgres
            POSTGRES_HOST_AUTH_METHOD: trust
        volumes:
            - ./data:/data/postgres
        ports:
            - "5432:5432"
        networks:
            - postgres
    pg-admin:
        container_name: pg-admin
        restart: always
        image: dpage/pgadmin4:9.10.0
        ports:
          - "8888:80"
        environment:
          PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
          PGADMIN_DEFAULT_PASSWORD: secret
        volumes:
          - pgadmin-data:/var/lib/pgadmin
        depends_on:
          - db
        networks:
          - postgres
networks:
    postgres:
        driver: bridge

volumes:
  local-pgdata:
  pgadmin-data:
